* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  position: absolute;
  top: 0;
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  font-family: "Poppins";
  background: var(--secondary);
}

/*   MAIN NAVIGATION    */
header {
  width: 1300px;
}

header h1 {
  padding-left: 20px;
}

header nav .main-nav{
  margin-top: 20px;
}

header nav a {
  width: 80px;
  padding: 30px 20px;
  background-color: var(--primary);
}

main {
  width: auto;
}

main nav a {
  width: 100px;
  padding: 30px 20px;
  background-color: var(--primary);
}

main .DashNavItem {
  margin: 30px 20px;
}